<%= form_with model: [@question, @question.answers.build] do |form| %>
  <div class="card">
    <div class="card-body">
      <div class="mb-3">
        <%= form.label :title, class: 'form-label' %>
        <%= form.text_field :title, {class: 'form-control'} %>
      </div>

      <div class="mb-3">
        <div class="form-check">
<!--          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">-->
          <%= form.check_box :correct, class: 'form-check-input' %>
          <%= form.label :correct, class: 'form-check-label' %>
<!--          <label class="form-check-label" for="flexCheckDefault">-->
<!--            Default checkbox-->
<!--          </label>-->
        </div>
      </div>

      <div class="mb-3">
        <%= form.submit 'Добавить вопрос', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>