<%= form_with(model: lesson) do |form| %>
  <div class="card mb-4">
    <div class="card-body">
      <% if lesson.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
            <% lesson.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :title, 'Название', class: "label" %>
        <%= form.text_field :title, { class: "form-control" }  %>
      </div>

      <div class="mb-3">
        <%= form.label :description, 'Описание', class: "label"  %>
        <%= form.text_area :description, { class: "form-control" }  %>
      </div>

      <div class="mb-3">
        <%= form.label :course_id, 'Курс', class: "label"  %>
        <%= collection_select(:lesson, :course_id, Course.all.collect, :id, :title, prompt: true ) %>
      </div>

      <div>
        <%= form.submit 'Создать', class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
