<section class="container">
  <%= render partial: "shared/notice", notice: notice %>

  <h1>
    <%= @lesson.course.title %>
  </h1>

  <div class="row">
    <div class="col col-md-3">
      <div class="card">
        <div class="card-header">
          Меню
        </div>
        <ul class="list-group list-group-flush">
          <% @lesson.course.lessons.each do |lesson| %>
            <li class="list-group-item">
              <%= link_to lesson.title, course_lesson_path(lesson), class: "card-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col">
      <h2><%= @lesson.title %></h2>
      <div>
        <%= @lesson.description %>
      </div>
    </div>
  </div>

  <div class="flex pt-4">
    <%= link_to 'Редактировать', edit_lesson_path(@lesson), class: 'btn btn-primary' %>
    <%= link_to 'Назад', lessons_path, class: 'btn btn-link' %>
  </div>
</section>