<%= form_with(model: course) do |form| %>
  <div class="card mb-4">
    <div class="card-body">
      <% if course.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
            <% course.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :title, 'Название', class: "form-label" %>
        <%= form.text_field :title, { class: "form-control" } %>
      </div>

      <div class="mb-3">
        <%= form.label :description, 'Описание', class: "form-label" %>
        <%= form.text_area :description, { class: "form-control" } %>
      </div>

      <%= form.submit "Создать", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
