<section class="container py-4">
  <%= render partial: "shared/notice", notice: notice %>

  <h1>
    <%= @course.title %>
  </h1>

  <div class="row">
    <div class="col col-md-3">
      <div class="card">
        <div class="card-header">
          Меню
        </div>
        <ul class="list-group list-group-flush">
          <% @course.lessons.each do |lesson| %>
            <li class="list-group-item">
              <%= link_to lesson.title, course_lesson_path(@course, lesson), class: "card-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col">
      <div>
        <%= @course.description %>
      </div>
      <div class="flex pt-4">
        <%= link_to 'Учить', course_lesson_path(@course, @course.lessons.first), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

  <div class="flex pt-4">
    <%= link_to 'Редактировать', edit_course_path(@course), class: 'btn btn-primary' %>
    <%= link_to 'Назад', courses_path, class: 'btn btn-link' %>
  </div>
</section>